h1 {
    color: red;
    font-size: 40px;
}

#first {
    color: purple;
}

#second {
    color: orange;
}

p {
    color: green;
}

#me {
    width: 94px;
    height:  142px;
}

p.tacos.pizza {
    color: yellow;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    border-spacing: 5px;
}